[submodule "jogjitu.github.io"]
    path = jogjitu.github.io
    url = https://github.com/jogjitu/jogjitu.github.io.git
    branch = main

[submodule "themes/PaperMod"]
    path = themes/PaperMod
    url = https://github.com/jogjitu.github.io/themes/PaperMod.git