{{ define "main" }}

<main class="homepage">

  <!-- Filter Buttons -->
  <section class="filters">
    <button class="filter-btn active" data-filter="all">ALL</button>
    <!-- Loop through each category in the site's taxonomies -->
    {{ range $category, $taxonomy := .Site.Taxonomies.category }}
    <button class="filter-btn" data-filter="{{ $category | urlize | lower }}">{{ $category | title }}</button>
    {{ end }}
  </section>

  <!-- Blog Posts Grid -->
  <section class="post-grid">
    {{ range .Site.RegularPages }}
    <article class="post {{ .Params.category | urlize | lower }}" filters="{{ .Params.tags | jsonify | urlize}}">
      <a href="{{ .RelPermalink }}">
        <h2>{{ .Title }}</h2>
        <!-- <img src="{{ .Params.cover.image }}" alt="{{ .Title }}"> -->
        <p>{{ .Summary }}</p>
      </a>
    </article>
    {{ end }}
  </section>
</main>
{{ end }}
